<section id="welcome">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 vertically-centered-container">
				<div class="vertically-centered">

					<h1 class="name"><span class="span-text">{{ site.title }}</span></h1>

					<p class="after-name"><span class="span-text title-font">{{ site.subtitle }}</span></p>

					<div class="row info">
						<div class="col-md-4"><p><i class="fa fa-laptop"></i><br>{{ site.url }}</p></div>
						<div class="col-md-4"><p><i class="fa fa-envelope-o"></i><br><a href="mailto:{{ site.email }}">{{ site.email }}</a></p></div>
						<div class="col-md-4"><p><i class="fa fa-mobile-phone"></i><br>{{ site.mobile }}</p></div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
