<div class="preloader"></div>

<a class="nav-toggle">
	<i class="fa fa-bars"></i>
</a>

<nav>
	<div class="before-menu">
		<h2>Welcome</h2>
	</div>
	<ul class="menu nav">
		<li><a href="#welcome"><i class="fa fa-home"></i><span>Home</span></a></li>
		<li><a href="#about"><i class="fa fa-user"></i><span>About</span></a></li>
		<li><a href="#resume"><i class="fa fa-file-o"></i><span>Resume</span></a></li>
		<li><a href="#contact"><i class="fa fa-comments"></i><span>Contact</span></a></li>
	</ul>
	<div class="after-menu">
		<ul class="social list-inline text-center">
			<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			<li><a href="#"><i class="fa fa-weixin"></i></a></li>
			<li><a href="#"><i class="fa fa-stack-overflow"></i></a></li>
			<li><a href="#"><i class="fa fa-github"></i></a></li>
		</ul>
	</div>
</nav>